/* .popup {
  right: 0;
  top: 0;
  position: absolute;
  left: calc(0.25 * var(--tile-size));
  bottom: calc(0.25 * var(--tile-size));
} */

.popup--inner {
  width: 48%;
  height: 38%;
  background: var(--light-tile);
  position: absolute;
  border: 8px solid var(--light-tile);
  box-shadow: 0 0 0 8px black;
  border-radius: 5%;
}

.popup--inner__center {
  left: 51.5%;
  top: 51.5%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 1em 0;
}

.popup--inner__center h1 {
  font-size: 2.5em;
  margin: 0 0 0.5em 0;
}

.popup--inner__center p {
  font-size: 1.2em;
  margin: 0 0 1em 0;
}

.ng {
  background: green;
  color: var(--light-tile);
  border: 0 none;
  padding: 10px 30px;
  margin: 10px 0;
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 20%;
}

.wins {
  height: var(--tile-size);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.wins.White {
  background-image: url("../../../chess/src/assets/wk.png");
}

.wins.Black {
  background-image: url("../../../chess/src/assets/bk.png");
}

.draws {
  height: var(--tile-size);
  background-size: contain;
  background-repeat: no-repeat, no-repeat;
  background-position: 35% center, 65% center;
  background-image: url("../../../chess/src/assets/wk.png"),
    url("../../../chess/src/assets/bk.png");
}
