@import "./constants.css";
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
.App {
  display: grid;
  place-content: center;
  min-height: 100vh;
  background: var(--bg-color);
  font-family: "Sofia Sans", sans-serif;
  grid-template-columns: auto 220px;
  gap: 16px;
  padding: 12px;
}

/* Responsive */

@media (max-width: 850px) {
  .App {
    justify-content: center;
    align-items: start;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  :root {
    --tile-size: 55px; /* 440px */
  }
}

@media (max-width: 450px) {
  :root {
    --tile-size: 50px; /* 400px */
  }
}
@media (max-width: 380px) {
  :root {
    --tile-size: 42px; /* 336px */
  }
}
@media (max-width: 350px) {
  :root {
    --tile-size: 40px; /* 320px */
  }
}
